* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f1f5f9;
}

a {
  text-decoration: none;
  color: inherit;
}

.post-card {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.post-card:hover {
  transform: translateY(-5px);
}



.container {
  width: 80%;
  margin: auto;
  padding: 50px 0;
}
